// Datei: scss/uploader.scss
$border-grey: #c1c9d4;
$error-color: #a94442;

.uploader-dropzone {
    background: #fff;
    border: 2px dashed $border-grey;
    min-height: 150px;
    padding: 20px;
    position: relative;
    margin: 1em 0;

    &.dz-clickable {
        cursor: pointer;

        .dz-message, .dz-message * {
            cursor: pointer;
        }
    }

    &.dz-drag-hover {
        border-style: solid;
        background: rgba(0, 0, 0, 0.05);
    }

    .dz-message {
        text-align: center;
        margin: 2em 0;
        font-size: 1.5em;
        color: $border-grey;
    }

    .dz-preview {
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin: 16px;
        min-height: 100px;

        &.dz-file-preview {
            .dz-image {
                border-radius: 5px;
                background: #999;
                background: linear-gradient(to bottom, #eee, #ddd);
            }
        }

        .dz-image {
            border-radius: 5px;
            overflow: hidden;
            width: 120px;
            height: 120px;
            position: relative;
            display: block;
            z-index: 10;

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .dz-details {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            font-size: 13px;
            min-width: 100%;
            max-width: 100%;
            padding: 10px;
            text-align: center;
            color: rgba(0, 0, 0, 0.9);
            line-height: 150%;
            z-index: 20;
            transition: opacity 0.2s linear;
            background: rgba(255, 255, 255, 0.8);

            .dz-size, .dz-filename {
                white-space: nowrap;
            }
        }

        &:hover .dz-details {
            opacity: 1;
        }

        .dz-progress {
            opacity: 1;
            z-index: 1000;
            pointer-events: none;
            position: absolute;
            height: 16px;
            left: 50%;
            top: 50%;
            margin-top: -8px;
            width: 80px;
            margin-left: -40px;
            background: rgba(255, 255, 255, 0.9);
            -webkit-transform: scale(1);
            border-radius: 8px;
            overflow: hidden;

            .dz-upload {
                background: #333;
                background: linear-gradient(to bottom, #666, #444);
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                width: 0;
                transition: width 300ms ease-in-out;
            }
        }

        &.dz-success .dz-progress {
            display: none;
        }

        &.dz-error .dz-error-message {
            display: block;
        }

        .dz-error-message {
            pointer-events: none;
            z-index: 1000;
            position: absolute;
            display: none;
            opacity: 0;
            transition: opacity 0.3s ease;
            border-radius: 8px;
            font-size: 13px;
            top: 130px;
            left: -10px;
            width: 140px;
            background: $error-color;
            background: linear-gradient(to bottom, $error-color, darken($error-color, 10%));
            padding: 0.5em 1em;
            color: white;
        }

        &:hover .dz-error-message {
            opacity: 1;
            display: block;
        }

        .dz-success-mark, .dz-error-mark {
            pointer-events: none;
            opacity: 0;
            z-index: 500;
            position: absolute;
            display: block;
            top: 50%;
            left: 50%;
            margin-left: -27px;
            margin-top: -27px;
        }

        .dz-success-mark svg, .dz-error-mark svg {
            display: block;
            width: 54px;
            height: 54px;
        }

        &.dz-success .dz-success-mark {
            opacity: 1;
            animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
        }

        &.dz-error .dz-error-mark {
            opacity: 1;
            animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
        }

        .btn-select {
            display: none;
        }

        &.dz-success .btn-select {
            display: block;
            position: absolute;
            top: 5px;
            right: 5px;
            z-index: 30;
        }
    }
}

.fileupload-buttonbar {
    margin-top: 15px;
    margin-bottom: 15px;
    
    .btn {
        margin-right: 5px;
    }
}

.fileupload-options {
    margin-bottom: 15px;
    
    label {
        font-weight: normal;
        margin-right: 15px;
    }
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    30% {
        opacity: 1;
        transform: translateY(0px);
    }
    70% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        transform: translateY(-50px);
    }
}

// Dark Mode Support
@mixin _uploader-dark {
    .uploader-dropzone {
        color: rgba(255, 255, 255, 0.75);
        background-color: rgba(#202b35, 0.6);
        border-color: rgba(#1b232c, 0.6);
        
        .dz-message {
            color: rgba(255, 255, 255, 0.45);
        }
        
        .dz-preview {
            .dz-details {
                background: rgba(32, 43, 53, 0.8);
                color: rgba(255, 255, 255, 0.9);
            }
            
            .dz-progress {
                background: rgba(32, 43, 53, 0.9);
            }
        }
    }
}

body.rex-theme-dark {
    @include _uploader-dark;
}

@media (prefers-color-scheme: dark) {
    body.rex-has-theme:not(.rex-theme-light) {
        @include _uploader-dark;
    }
}
